img{
    border-radius: 50%;
    width: 150px;
}
.media{
    border-style: ridge;
    margin-bottom: 15px;
    column-width: 5px;
    max-width: 650px;
    align-self:center;
}
#botones{
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
    margin-bottom: .5rem;
    margin-right: .2rem;
}